<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary d-flex">
                        <div class="">
                            <h4 class="card-title ">Products</h4>
                            <p class="card-category"> This shows departments in the db</p>
                        </div>
                    </div>
                    <div class="card-body">
                           <app-table *ngIf="products.length > 0 " [theaders]="headers" [tbody]="products"></app-table>
                    </div>
                </div>               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add new Product</h4>
                        <p class="card-category">Complete the form</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="newProductsForm">
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field appearance="fill">
                                <mat-label>Choose a Department</mat-label>
                                  <mat-select formControlName="department">
                                    <mat-option *ngFor="let dep of departments" [value]="dep.value"> {{dep.name}} </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="fill">
                                <mat-label>Choose a Category</mat-label>
                                  <mat-select formControlName="category">
                                    <mat-option *ngFor="let cat of category" [value]="cat.value"> {{cat.name}} </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Product Title" type="text" formControlName="title">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Stock Keeping Unit" type="text" formControlName="sku">
                                  </mat-form-field>
                                </div>
                            </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Manufacturer" type="text" formControlName="manufacturer">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Price" type="text" formControlName="price">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Product code" type="text" formControlName="productCode">
                                  </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                  <label>Description</label>
                                  <mat-form-field class="example-full-width">
                                     <textarea matInput formControlName="description"></textarea>
                                   </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <label for="file">File</label>
                              <input 
                                  formControlName="file"
                                  id="file" 
                                  type="file" 
                                  class="form-control"
                                  multiple="" 
                                  (change)="onFileChange($event)">
                              <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                                  <div *ngIf="f.file.errors.required">File is required.</div>
                              </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="addNewProduct()">Add new product</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>